<app-header></app-header>

<div class="vehicle-settings-container">
  <div class="vehicle-banner">
    <div class="vehicle-header">
      <span class="vehicle-title">{{ vehicleName }}</span>
      <img
        src="https://cdn-icons-png.flaticon.com/512/130/130882.png"
        alt="Next Vehicle"
        class="arrow-icon"
        (click)="nextVehicle()"
      />
    </div>

    <img src="images/car.png" alt="Vehicle" class="vehicle-image" />
  </div>

  <div class="grid-container">
    <div class="tile" (click)="lockOrUnlock()">
      <img src="images/lock-unlock.png" alt="Lock" />
      <span>{{ isLocked ? 'Unlock Vehicle' : 'Lock Vehicle' }}</span>
    </div>

    <div class="tile">
      <img src="images/engine.png" alt="Start" />
      <span>Start Engine</span>
    </div>

    <div class="tile" [routerLink]="['/vehicle-metrics']">
      <img src="images/metrics.png" alt="Metrics" />
      <span>Metrics</span>
    </div>

    <div class="tile">
      <img src="images/gps.png" alt="GPS" />
      <span>GPS</span>
    </div>

    <div class="tile" (click)="stopAlarm()">
      <img src="images/alarm.png" alt="Alarm" />
      <span>{{ isAlarmOn ? 'Alarm On' : 'Alarm Off' }}</span>
    </div>

    <div class="tile">
      <img src="images/window.png" alt="Window" />
      <span>Open Window</span>
    </div>
  </div>
</div>

<app-footer></app-footer>
