.mobile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
}

.home-wrapper {
  background-color: #f4f4f4;
  padding: 1rem 1rem 0.25rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 390px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.welcome-text {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.car-image {
  width: 200px;
  height: fit-content;
  margin-bottom: 0;
  margin-top: 0;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.car-image.active {
  box-shadow: 0 0 25px 5px rgba(0, 255, 0, 0.5);
  animation: shake 0.3s infinite alternate;
}

@keyframes shake {
  from { transform: translateX(-2px); }
  to { transform: translateX(2px); }
}

.start-button {
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0.1rem 0 0.7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;

  &.active {
    background-color: #007bff;
  }

  img {
    width: 60%;
    height: 60%;
    //object-fit: contain;
  }

  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
  }

  &:active {
    transform: scale(0.95);
  }
}

.status-card {
  background-color: #ffffff;
  padding: 0.4rem 0.65rem;
  border-radius: 1rem;
  margin: 0.25rem 0;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;

  button {
    width: 20px;
    height: 20px;
  }

  img {
    align-content: center;
    width: 20px;
    height: 20px;
  }
}

.label {
  font-size: 0.8rem;
  font-weight: 600;
  color: #8b8b8b;
}

.value {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
}
