<nav class="footer">
  <div class="footer-item">
    <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Home" />
    <span>Home</span>
  </div>
  <div class="footer-item" routerLink="/vehicle-settings">
    <img src="https://cdn-icons-png.flaticon.com/512/84/84380.png" alt="Controls" />
    <span>Vehicle Controls</span>
  </div>
  <div class="footer-item">
    <img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" alt="Location" />
    <span>Location</span>
  </div>
  <div class="footer-item" routerLink="/more">
    <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="More" />
    <span>More</span>
  </div>
</nav>
