<app-header></app-header>
<div class="profile-container">
  <div class="profile-header">
    <label class="avatar-wrapper">
      <img [src]="avatarUrl" alt="User Avatar" class="avatar" />
      <input type="file" accept="image/*" (change)="onAvatarChange($event)" hidden />
    </label>

    <div class="user-info">
      <div class="username-row">
        <span class="username">{{ username }}</span>
        <img
          src="https://cdn-icons-png.flaticon.com/512/1159/1159633.png"
          alt="Edit Name"
          class="edit-icon"
          (click)="editName()" />
      </div>
    </div>
  </div>

  <div class="profile-section" routerLink="/change-password">Change Password</div>
  <div class="profile-section" (click)="logout()">Logout</div>
  <div class="profile-section" (click)="deleteAccount()">Delete Account</div>
</div>
