.profile-container {
  max-width: 390px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f4f4f4;
  height: 590px;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;


  .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
}

.user-info {
  margin-left: 1rem;
  flex: 1;

  .username-row {
    display: flex;
    align-items: center;

    .username {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .edit-icon {
      width: 18px;
      height: 18px;
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }
}

.profile-section {
  background-color: #ffffff;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.profile-section:hover {
  background-color: #f4f4f4;
}
